.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  background-color: #fafafd;
  width: 100%;
  height: 100vh;
  overflow:hidden;
}

li{
  font-size: 1.5rem;
}

li:hover{
  list-style:disc;
}