.Acai{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.Titulo-Acai{
    color: white;
    background-color: rgb(181, 93, 240);
    padding: 1rem;
    border-radius: 1rem 1rem 0rem 0rem;
    cursor:context-menu;
}

.butao-calc{
    color: white;
    background-color: rgb(181, 93, 240);
}